{% extends 'base.html' %}

{% block content %}

    <div style="text-align: center; max-width: 500px; margin: 4rem auto">

        <div>
            <h3>
            {{ target_user.date_joined }}
            </h3>
        </div>
        <div>
            {% if target_user.profile %}
            <h3>
                {{ target_user.profile.nickname }}
            </h3>
            {% else %}
            <a href="{% url 'profileapp:create' %}">
                <h4>
                    Create Profile
                </h4>
            </a>
            {% endif %}
        </div>
        <div>
            {% if target_user == user %}
            <a href="{% url 'accountapp:update' pk=user.pk %}">
                <h4>
                    ChangePW
                </h4>
            </a>
            <a href="{% url 'accountapp:delete' pk=user.pk %}">
                <h4>
                    Quit
                </h4>
            </a>
            {% endif %}
        </div>

    </div>

{% endblock %}